{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ title }} {% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="fb-profile">
                <img align="left" class="fb-image-lg" src="{% static 'img/coverpic_1.jpg' %}"
                     alt="Profile image example"/>
                <img align="left" class="fb-image-profile thumbnail" src="{% static 'img/trinadh_1.JPG' %}"
                     alt="Profile image example"/>
                <div class="fb-profile-text">
                    <h1>TRINADH KOYA</h1>

                </div>
            </div>
        </div>
    </div> <!-- /container fluid-->
    <div class="container">
        <div class="col-sm-8">

            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Profile </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Education & Career</a>
                        </li>
                        {#                        <li>#}
                        {#                            <a href="#tab_default_3" data-toggle="tab">#}
                        {#                                Family Details</a>#}
                        {#                        </li>#}
                        {#                        <li>#}
                        {#                            <a href="#tab_default_4" data-toggle="tab">#}
                        {#                                Desire Partner</a>#}
                        {#                        </li>#}
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">

                            <p>
                                A self starter with <b>3</b> years of Experience in Software Industry.Have good passion
                                towards to
                                learning new technologies and motivated to to accept challenges in Programming.I have an
                                ability to adopt the design quickly and code for the same.Keeping Professional standards
                                make my code beautiful. Always take my work as my asset so I love to decorate it.
                            </p>
                            <h4>Languages</h4>
                            <p>
                                Telugu&nbsp;,English&nbsp;,Hindi
                            </p>
                            <h4>Education </h4>
                            <p>I have done B.Tech in Computer Science</p>
                            <h4>Occupation</h4>
                            <p>At present Working as a Software Developer at <a href="https://www.zaggle.in/">Zaggle</a>
                            </p>

                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <p>
                                Education & Career
                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Graduation</label>
                                        <p> MBA/PGDM</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Intermediate(+2)</label>
                                        <p>Maths,Physics,Chemistry</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Schoolings</label>
                                        <p>SSC</p>
                                    </div>

                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">QIS College of Engineering & Technology</label>
                                        <p> Ongole,A.P</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Sri Chaitanya Jr.Collge</label>
                                        <p>Ongole,A.P</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Chimakurthy Public School(C.P.S)</label>
                                        <p> Chimakurthy,A.P</p>
                                    </div>


                                </div>
                            </div>


                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            <p>
                                Family Details
                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Highest Education:</label>
                                        <p> MBA/PGDM</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_default_4">
                            <p>
                                Lifestyle

                            </p>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Highest Education:</label>
                                        <p> MBA/PGDM</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Place of Birth:</label>
                                        <p> pune, maharashtra</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    Get in touch
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label for="email">Manglik:</label>
                                <p> Manglik</p>
                            </div>

                            <div class="form-group ">
                                 <span>
                                     <a href="https://github.com/trinadhkoya/" target="_blank" class="git">
                                         <i class="fa fa-github"></i></a>
                                </span>
                                <span>                                    <a
                                        href="https://www.facebook.com/trinadhkoya9" class="fb" target="_blank">
                                    <i class="fa fa-facebook"></i></a>
                                </span>
                                <span>
                                    <a href="https://www.linkedin.com/in/trinadhkoya/" class="linkedin" target="_blank">
                                        <i class="fa fa-linkedin"></i></a>
                                </span>

                                <span>
                                    <a href="https://plus.google.com/u/0/+TRINADHKOYA0" target="_blank"
                                       class="google-plus"> <i class="fa fa-google"></i></a>
                                </span>
                                <span>
                                    <a href="https://twitter.com/trinadhkoya" target="_blank" class="twitter"
                                    ><i class="fa fa-twitter"></i></a>
                                </span>
                                <span>
                                     <a href="https://stackoverflow.com/users/3679238/trinadh-koya" target="_blank"
                                        class="stackoverflow"><i class="fa fa-stack-overflow"></i></a>
                                </span>
                                <span>
                                     <a href="" target="_blank"
                                        class="phone">
                                         <i data-toggle="tooltip" title="+91 9966777479"
                                            class="fa fa-phone"></i></a>
                                </span>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}