{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block body %}
    <section>
        <div class="container gal-container">
            <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#1">
                        <img src="https://image.ibb.co/edTR5H/16110_765468776851350_5344149765277969916_n.jpg">
                    </a>
                    <div class="modal fade" id="1" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/edTR5H/16110_765468776851350_5344149765277969916_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Such an innocent kid</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#2">
                        <img src="https://image.ibb.co/hitFzc/10610508_783870608344500_8605375923539638794_n.jpg">
                    </a>
                    <div class="modal fade" id="2" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/hitFzc/10610508_783870608344500_8605375923539638794_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Not only First Selfie,Best selfie too</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#3">
                        <img src="https://image.ibb.co/nvcxCx/10648457_749903848407843_5172475139090796481_o.jpg">
                    </a>
                    <div class="modal fade" id="3" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/nvcxCx/10648457_749903848407843_5172475139090796481_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Seems like preparing for GATE,but it's Mid Exam</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#4">
                        <img src="https://image.ibb.co/dm0HCx/11065616_960428060688753_1307920636236285493_n.jpg">
                    </a>
                    <div class="modal fade" id="4" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/dm0HCx/11065616_960428060688753_1307920636236285493_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Why so serious?</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#5">
                        <img src="https://image.ibb.co/hycVXx/11227762_922506467814246_3497613137387817306_n.jpg">
                    </a>
                    <div class="modal fade" id="5" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/hycVXx/11227762_922506467814246_3497613137387817306_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Stage Lover,anchoring for the Farewell party</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#6">
                        <img src="https://image.ibb.co/dFdtkH/12108228_977344505663775_5313330405705641222_n.jpg">
                    </a>
                    <div class="modal fade" id="6" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/dFdtkH/12108228_977344505663775_5313330405705641222_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>A random Selfie,after clean shave</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#7">
                        <img src="https://image.ibb.co/n1sxCx/12311218_997587640306128_1356867267141130449_n.jpg">
                    </a>
                    <div class="modal fade" id="7" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/n1sxCx/12311218_997587640306128_1356867267141130449_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>At Airport,Hyderabad</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#8">
                        <img src="https://image.ibb.co/cXGDkH/12711187_1040275352704023_6173089974424401451_o.jpg">
                    </a>
                    <div class="modal fade" id="8" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/cXGDkH/12711187_1040275352704023_6173089974424401451_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>At CIE,IIIT Hyderbad</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#9">
                        <img src="https://image.ibb.co/mBnKQH/12936634_1079573108774247_1722988479014638099_n.jpg">
                    </a>
                    <div class="modal fade" id="9" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/mBnKQH/12936634_1079573108774247_1722988479014638099_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>I just can't believe ,how i became Selfie Expert</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#10">
                        <img src="https://image.ibb.co/gZYFzc/13584705_1136155833115974_3743030288494471248_o.jpg">
                    </a>
                    <div class="modal fade" id="10" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/gZYFzc/13584705_1136155833115974_3743030288494471248_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>One of my Favourite,Wantedly given the pose</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#11">
                        <img src="https://image.ibb.co/cK9AXx/13715992_1144117878986436_8246147628777521446_n.jpg">
                    </a>
                    <div class="modal fade" id="11" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/cK9AXx/13715992_1144117878986436_8246147628777521446_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Uh oh..!! </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#12">
                        <img src="https://image.ibb.co/ga8R5H/13995470_1168215586576665_4480856399983991814_o.jpg">
                    </a>
                    <div class="modal fade" id="12" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/ga8R5H/13995470_1168215586576665_4480856399983991814_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Tried and Tried ,finally get a Selfie </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#13">
                        <img src="https://image.ibb.co/kqXVXx/14231300_1186369694761254_4866167486718810496_o.jpg">
                    </a>
                    <div class="modal fade" id="13" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/kqXVXx/14231300_1186369694761254_4866167486718810496_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>at Pandicherri,Rock  Beach</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#14">
                        <img src="https://image.ibb.co/e45TKc/14713082_1217286945002862_547321276936776634_o.jpg">
                    </a>
                    <div class="modal fade" id="14" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/e45TKc/14713082_1217286945002862_547321276936776634_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>at Pandicherri,Auora  Beach</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#15">
                        <img src="https://image.ibb.co/cm8hec/23130874_1615953298469556_3742653728828180052_n.jpg">
                    </a>
                    <div class="modal fade" id="15" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/cm8hec/23130874_1615953298469556_3742653728828180052_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>On the way to Coorg,such a lovely pic</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#16">
                        <img src="https://image.ibb.co/g7rDkH/20031737_1514474505284103_2195694515475516309_n_1.jpg">
                    </a>
                    <div class="modal fade" id="16" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/g7rDkH/20031737_1514474505284103_2195694515475516309_n_1.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>What a pic? This pic makes me to go Gym and Workout hard</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#17">
                        <img src="https://image.ibb.co/jBG2ec/18768597_1471889362875951_8435445480801085495_o.jpg">
                    </a>
                    <div class="modal fade" id="17" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/jBG2ec/18768597_1471889362875951_8435445480801085495_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Turned into 23,Tirupathi</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#18">
                        <img src="https://image.ibb.co/g2J4sx/25395037_1660934813971404_5822097418547049566_o.jpg">
                    </a>
                    <div class="modal fade" id="18" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/g2J4sx/25395037_1660934813971404_5822097418547049566_o.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>At Forum mall,Hyderabad</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#19">
                        <img src="https://image.ibb.co/jDpcCx/22552665_1607037839361102_1431645805066801256_n.jpg">
                    </a>
                    <div class="modal fade" id="19" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="https://image.ibb.co/jDpcCx/22552665_1607037839361102_1431645805066801256_n.jpg">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>Caption in your hands</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}